<article class="post">
    <header class="post-header">
        <h2 class="post-title">{{input value=model.title}}</h2>
    </header>
    <section class="post-excerpt post-excerpt_cabinet">
        <p>{{textarea value=model.description cols="115" rows="9"}}</p>
    </section>
</article>