<div class='cabinet'>
  <ul>
    <li>
      {{#link-to 'cabinet.index'}}Posts{{/link-to}}
    </li>
    <li>
      {{#link-to 'cabinet.create'}}Create{{/link-to}}
    </li>
  </ul>
</div>

{{outlet}}
